---
import ZFSPools from '@/components/ZFSPools.astro'
import Layout from '@/layouts/main.astro'
---

<Layout>
  <div class="mx-auto max-w-screen-lg py-4">
    <div class="font-bold">Here are your ZFS Pools</div>
    <ZFSPools />
  </div>
</Layout>
